:root {
    --background: #525252;
    --text: #414141;
    --subText: #313131;
    --other: #CA3E47;
    --subTextFamily: 'Space Mono', monospace, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --textFamily: 'Bebas Neue', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.c-pointer {
    cursor: pointer;
}

body {
    background-color: var(--background);
    margin: 0 80px;
    overflow-x: hidden;
}

aside {
    position: sticky;
    top: 0;
    max-width: 50vw;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    border-bottom-left-radius: 16px;
    border-end-end-radius: 16px;
    transform: translateY(-372px);
    transition: transform 1.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

aside.visible {
    transform: translateY(-11px);
    transition: transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    padding: 0 30px;
    font-size: 4em;
    color: var(--text);
    font-family: var(--textFamily);
    font-weight: 900;
    letter-spacing: 5px;
    overflow: hidden;
    background: linear-gradient(to right, var(--text), var(--subText) 50%, var(--text) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.8s ease;
    text-decoration: none;
}

nav ul li a:hover {
    background-position: 0 100%;
}

.name {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 5em;
    color: var(--text);
    font-family: 'Sigmar', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0 30px;
}

.aside-line {
    position: sticky;
    top: 25em;
    width: 25px;
    height: 25px;
    background-color: var(--other);
    border-radius: 50px;
    transform: translate(113.4em, -25em);
    caret-color: transparent;
    /* animation: lineMinMax 1.2s ease infinite alternate; */
}

.about {
    height: 100vh;
    margin-top: -300px;
    padding-top: 300px;
    text-align: center;
    /* background-color: var(--other); */
}

.about p:first-child {
    font-size: 15em;
    font-family: var(--textFamily);
    color: var(--text);
    caret-color: transparent;
}

.about p:last-child {
    text-align: center;
    font-size: 2em;
    color: var(--subText);
    margin-top: -50px;
    line-height: 30px;
    caret-color: transparent;
    font-family: var(--subTextFamily);
}

.project-1 {
    grid-area: grid-1;
}

.project-2 {
    grid-area: grid-2;
}

.project-3 {
    grid-area: grid-3;
}

.project-4 {
    grid-area: grid-4;
}

.project-5 {
    grid-area: grid-5;
}

.project-6 {
    grid-area: grid-6;
}

.project-7 {
    grid-area: grid-7;
}

.project-8 {
    grid-area: grid-8;
}

.project-9 {
    grid-area: grid-9;
}

.project-10 {
    grid-area: grid-10;
}

.project-11 {
    grid-area: grid-11;
}

.project-12 {
    grid-area: grid-12;
}

.project-title {
    grid-area: grid-13;
}

.project-detail {
    grid-area: grid-14;
}

.project {
    display: grid;
    grid-template-areas: 
        'grid-1 grid-2 grid-3 grid-4'
        'grid-5 grid-13 grid-13 grid-6'
        'grid-7 grid-14 grid-14 grid-8'
        'grid-9 grid-10 grid-11 grid-12';
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    height: 100vh;
    padding: 30px 0;
}

.project > div {
    width: 418px;
    height: 220px;
    text-align: center;
    background-color: aliceblue;
}

.project-title {
    text-align: center;
    font-size: 11em;
    margin-top: 5px;
    font-family: var(--textFamily);
    color: var(--text);
    caret-color: transparent;
}

.project-detail {
    text-align: center;
    font-size: 1.6em;
    color: var(--subText);
    line-height: 30px;
    caret-color: transparent;
    font-family: var(--subTextFamily);
}

@media  screen and (max-width: 1400px) {
    aside {
        max-width: 70vw;
        transform: translateY(-459px);
    }
}

/* @keyframes lineMinMax {
    0% {
        height: 40px;
    } 25% {
        height: 90px;
    } 50% {
        height: 36px;
    } 75% {
        height: 72px;
    } 100% {
        height: 54px;
    }
} */