:root,
:root.light {
    --background: #FBF7F0;
    --text: #414141;
    --subText: #313131;
    --other: #CA3E47;
    --subTextFamily: 'Space Mono', monospace, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --textFamily: 'Bebas Neue', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root.dark {
    --background: #525252;
    --text: #414141;
    --subText: #313131;
    --other: #CA3E47;
    --subTextFamily: 'Space Mono', monospace, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --textFamily: 'Bebas Neue', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.c-pointer {
    cursor: pointer;
}

body {
    background-color: var(--background);
    margin: 0 88px;
    overflow-x: hidden;
}

aside {
    position: sticky;
    top: 0;
    max-width: 50vw;
    margin: 0 auto;
    padding: 20px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    border-bottom-left-radius: 16px;
    border-end-end-radius: 16px;
    transform: translateY(-372px);
    transition: transform 1.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

aside.visible {
    transform: translateY(-11px);
    transition: transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    padding: 0 30px;
    font-size: 4em;
    color: var(--text);
    font-family: var(--textFamily);
    font-weight: 900;
    letter-spacing: 5px;
    overflow: hidden;
    background: linear-gradient(to right, var(--text), var(--subText) 50%, var(--text) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.8s ease;
    text-decoration: none;
}

nav ul li a:hover {
    background-position: 0 100%;
}

.name {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 5em;
    color: var(--text);
    font-family: 'Sigmar', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0 30px;
}

.aside-line {
    margin-top: 20px;
    width: 55px;
    height: 25px;
    transform: translate(1766px, -374px);
    position: fixed;
}

.bar {
    display: block;
    width: 100%;
    height: 25%;
    margin-top: 10%;
    background: var(--other);
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.animate .bar:nth-child(1) {
    transform:translateY(16px) rotate(135deg);
}

.animate .bar:nth-child(2) {
    opacity: 0;
}

.animate .bar:nth-child(3) {
    transform:translateY(-8px) rotate(-135deg);
}

.about {
    height: 95vh;
    margin-top: -371px;
    padding-top: 300px;
    text-align: center;
}

.about p:first-child {
    font-size: 15em;
    font-family: var(--textFamily);
    color: var(--text);
    caret-color: transparent;
}

.about p:last-child {
    text-align: center;
    font-size: 2em;
    color: var(--subText);
    margin-top: -50px;
    line-height: 30px;
    caret-color: transparent;
    font-family: var(--subTextFamily);
}

.project section {
    column-count: 3;
    --webkit-column-count: 3;
    --moz-column-count: 3;
    padding: 5rem;
}

.project p,
.project div {
    margin: 30px 20px;
    overflow: hidden;
    max-width: 500px;
}

.project div {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    border: 1px solid aliceblue;
    border-radius: 8px;
}

.project section div > img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.project section div > p {
    font-size: 22px;
    padding: 0 8px;
    color: var(--subText);
    font-family: var(--subTextFamily);
}

.project div i {
    position: relative;
    left: 27rem;
    top: -8px;
    font-size: 1.4rem;
    color: var(--other);
}

.project-title span,
.social-tab h3 {
    font-size: 10.8rem;
    font-family: var(--textFamily);
    color: var(--text);
}

.portfolio {
    margin: 30px auto;
    padding: 20px;
}

.portfolio section {
    padding: 20px;
}

.portfolio_body_wrapper section h3 {
    font-size: 10.8rem;
    font-family: var(--textFamily);
    color: var(--text);
    text-align: center;
}

.tools div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 16px 0;
}

.portfolio section div i,
.portfolio section div img {
    width: 5rem;
    font-size: 8rem;
}

.exp-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--subText);
    padding-bottom: 8px;
}

.exp-title-wrapper div:first-child {
    display: flex;
}

.exp-title-wrapper div p {
    font-size: 1.7rem;
    font-weight: 600;
    font-family: var(--textFamily);
}

.exp_body div p {
    font-size: 2rem;
    font-weight: 600;
    color: var(--subText);
    padding: 8px 0;
    font-family: var(--textFamily);
}

.exp_body div ul {
    margin-left: 24px;
}

.exp_body div ul li {
    font-size: 1.4rem;
    color: var(--subText);
    font-family: var(--subTextFamily);
}

.social-tab .title h3 {
    text-align: center;
}

.social {
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social a i {
    font-size: 40px;
    color: var(--subText);
    cursor: pointer;
}

.social a i:hover {
    text-shadow: 8px 8px var(--other);
}

footer div p {
    text-align: center;
    font-size: 1.2rem;
    color: var(--subText);
    font-family: var(--subTextFamily);
}

.toggle-container {
    position: fixed;
    display: flex;
    border-radius: 42px;
    top: 22.5px;
    right: 85px;
}

.theme-btn {
    width: 2.3em;
    height: 2.3em;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.theme-btn img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.theme-btn.light {
    display: none;
}

.dark .theme-btn.dark {
    display: none;
}

.dark .theme-btn.light {
    display: block;
}

button.toggle-circle {
    width: 72px;
    height: 75px;
    background: #e2e2e2;
    border-radius: 42px;
    position: absolute;
    top: 2px;
    left: 7px;
}

.move-right {
  transform: translate(78px, 0px);
  transition: 1s ease all;
}

.move-left {
  transform: translate(0px, 0px);
  transition: 1s ease all;
}

@media  screen and (max-width: 600px) {
    aside {
        transform: translateY(-459px);
    }

    .aside-line {
        transform: translate(595px, -209px);
    }

    .animate .bar:nth-child(1) {
        transform: translateY(11px) rotate(135deg);
    }

    .name {
        display: none;
    }

    .bar {
        width: 68%;
        height: 14%;
    }

    nav ul li a {
        font-size: 2em;
    }
}

/* @keyframes lineMinMax {
    0% {
        height: 40px;
    } 25% {
        height: 90px;
    } 50% {
        height: 36px;
    } 75% {
        height: 72px;
    } 100% {
        height: 54px;
    }
} */